* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 48px;
  background-color: #f5f5f7cc;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apple1 {
  width: 16px;
  height: 19px;
  top: 14px;
  left: 1px;
  position: relative;
}
.apple2 {
  position: relative;
  width: 18px;
  height: 48px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  display: none;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search2 {
  left: 246px;
}
.bagSearch {
  width: 48px;
  height: 48px;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line3 {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: static;
  gap: 7px;
}
.line1 {
  width: 14px;
  height: 0px;
  border-width: 1.2px;
  border: 1.2px solid #000000;
  position: static;
}
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.notice {
  width: 100%;
  height: 73px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #1d1d1f;
}
.section1 {
  width: 100%;
  height: 1546px;
  border-bottom-width: 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    height: 44px;
    gap: 24px;
    justify-content: center;
  }
  .apple1 {
    width: 13px;
    height: 16px;
    top: 12px;
    left: 0.5px;
  }
  .apple2 {
    width: 14px;
    height: 44px;
    left: 8px;
  }
  .right {
    gap: 24px;
  }
  .bagSearch {
    width: 30px;
    height: 44px;
  }
  .options {
    display: flex;
    height: 44px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 60px;
    letter-spacing: -0.28px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .line3 {
    display: none;
  }
}
