* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 48px;
  background-color: #f5f5f7cc;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apple1 {
  width: 16px;
  height: 19px;
  top: 14px;
  left: 1px;
  position: relative;
}
.apple2 {
  position: relative;
  width: 18px;
  height: 48px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  display: none;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search2 {
  left: 246px;
}
.bagSearch {
  width: 48px;
  height: 48px;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line3 {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: static;
  gap: 7px;
}
.line1 {
  width: 14px;
  height: 0px;
  border-width: 1.2px;
  border: 1.2px solid #000000;
  position: static;
}
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.notice {
  width: 100%;
  height: 73px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #1d1d1f;
}
.poster {
  width: 100%;
  height: 500px;
  background-position: center;
  margin-top: 12px;
}
.pro1 {
  background-image: url(./images/pro1.jpg);
}
.text-p {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  top: 350px;
  gap: 16px;
  position: relative;
  flex-direction: column;
}
.innerUp1 {
  width: 100%;
  gap: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner16-1 {
  width: 100%;
  height: 36px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.innerHello-1 {
  width: 100%;
  font-size: 18px;
  line-height: 120%;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
  text-align: center;
}
.innerPodUp-1 {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
  text-align: center;
}
.innerPod-1 {
  width: 100%;
  font-size: 18px;
  line-height: 120%;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
  text-align: center;
}
/*/////////////////learn more/////////////////////*/
.innerDown1 {
  gap: 16px;
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: center;
  align-items: center;
}
.full1 {
  width: 107px;
  height: 36px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e3;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
.full1:hover {
  background-color: #1385f8;
}
.border1 {
  width: 66px;
  height: 36px;
  border-radius: 999px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2997ff;
  color: #2997ff;
  font-size: 14px;
  line-height: 20px;
}
.border1:hover {
  background-color: #1385f8;
  border: #1385f8 1px solid;
  color: white;
}
.fullStill {
  width: 107px;
  height: 36px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e3;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
.fullStill:hover {
  background-color: #1385f8;
}
.borderStill {
  width: 66px;
  height: 36px;
  border-radius: 999px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2997ff;
  color: #2997ff;
  font-size: 14px;
  line-height: 20px;
}
.borderStill:hover {
  background-color: #1385f8;
  border: #1385f8 1px solid;
  color: white;
}
.blue {
  background-image: url(./images/blue1.jpg);
}
.text-b {
  top: 36px;
}
.downBlue {
  background-color: #ffffff;
  color: #000000;
}
.downBlue:hover {
  background-color: #bcdeff;
}
.downBlueBorder {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.downBlueBorder:hover {
  background-color: #bcdeff;
  border: #bcdeff;
  color: #000000;
}
.hidden1 {
  display: none;
}
.tab {
  background-image: url(./images/tab1.jpg);
}
.air {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerHello-2 {
  color: black;
}
.innerUpGAP {
  gap: 8px;
}
.colorful {
  width: 100%;
  height: 18px;
  top: 340px;
  display: flex;
  justify-content: center;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: -webkit-linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  color: transparent;
}
.pod {
  background-image: url(./images/airpod1.jpg);
  display: flex;
  justify-content: center;
  background-size: cover;
}
.podText {
  height: 147px;
  width: 241px;
  position: relative;
  top: 299px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.watch {
  background-image: url(./images/watch1.jpg);
  background-size: cover;
}
.watchText {
  width: 100%;
  /* height: 135px; */
  display: flex;

  align-items: center;
  flex-direction: column;
  position: relative;
  top: 46px;
  gap: 8px;
}
.h1 {
  height: 30px;
  font-weight: 700;
  font-size: 28px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.series {
  height: 16px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  bottom: 4px;
}
.color {
  color: #000000;
  position: relative;
  bottom: 6px;
}
.row {
  display: flex;
  width: 152px;
  height: 34px;
  gap: 12px;
}
.macAir {
  background-image: url(./images/macAir.jpg);
}
.business {
  background-image: url(./images/business1.png);
  display: flex;
  justify-content: center;
}
.widthBusiness {
  width: 257px;
  height: 168px;
}

/* business dood 2too center bolj ornoo */
.deals {
  background-image: url(./images/deals.jpg);
}
.widthDeals {
  width: 314px;
  height: 132px;
}
.trade {
  background-image: url(./images/trade.jpg);
  background-size: cover;
}
.fullGet1 {
  width: 150px;
}
.hidden2 {
  display: none;
}
.hidden3 {
  display: none;
}
.scroll {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  bottom: 16px;
  overflow-x: hidden;
}
.scrollmenu {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* width: fit-content; */
  gap: 16px;
  /* animation: firstAnimation 40s linear infinite; */
  scroll-snap-align: start;
}
.scrollmenu > div {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 274px;
  height: 495px;
}
.movie1 {
  background-image: url(./images/movie1.jpg);
}
.movie2 {
  background-image: url(./images/movie2.jpg);
}
.movie3 {
  background-image: url(./images/movie3.jpg);
}
.movie4 {
  background-image: url(./images/movie4.jpg);
}
.movie5 {
  background-image: url(./images/movie5.jpg);
}
.movie6 {
  background-image: url(./images/movie6.jpg);
}
.movie7 {
  background-image: url(./images/movie7.jpg);
}
.movie8 {
  background-image: url(./images/movie8.jpg);
}
.circle {
  width: 100%;
  height: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tiny {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #000000;
  opacity: 42%;
  display: flex;
  position: relative;
}
.tiny:hover {
  background-color: #000000;
  opacity: 60%;
}
.movie9 {
  display: none;
}
.movie10 {
  display: none;
}
.tinyTab {
  display: none;
}
.drama{
  display: none;
}
.animation{
  width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.wanimation {
    width: 980px;
    height: 160px;
    animation: wanimation 16s  infinite linear ;
    display: flex;
    gap: 7px;
  }
  .box{
    width: 238px;
height: 134px;
background-color: #6529CF;
display: flex;
flex-direction: column;
  }
  .boxin{
    width: 238px;
height: 160px;
display: flex;
flex-direction: column;
gap: 10px;
  }
  .la{
    width: 114px;
height: 114px;
top: 10px;
left: 62px;
border-radius: 8px;
position: relative;
  }
  .lapple{
    width: 41px;
height: 9.67px;
left: 187px;
position: relative;
  }
  .textla{
    width: 55px;
height: 16px;
font-weight: 700;
font-size: 12px;
line-height: 16px;
color: #1D1D1F;
  }
  .travel{
    background-image: url(./images/travel.jpg);
    width: 238px;
    height: 134px;
  }
  .texttravel{
    width: 159px;
    height: 16px;
font-weight: 700;
font-size: 12px;
line-height: 16px;
color: #1D1D1F;

  }
  @keyframes wanimation {
    from{
      transform: translateX(0%);
    }to{
      transform: translateX(-50%);
    }
  }
  .play {
    height: 24px;
    width: 24px;
    position: relative;
    margin: 16px;
    left: 89%
  }
@media screen and (min-width: 655px) {
  .pro1 {
    background-image: url(./images/pro2.jpg);
    height: 650px;
  }
  .text-p {
    height: 156px;
    top: 58px;
  }
  .airH {
    height: 139px;
  }
  .innerUp1 {
    /* height: 96px; */
    gap: 4px;
  }
  .inner16-1 {
    height: 60px;
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
  }
  .innerHello-1 {
    height: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
  }
  .innerDown1 {
    height: 44px;
    gap: 16px;
  }
  .full1 {
    width: 123px;
    height: 44px;
    font-size: 16px;
  }
  .border1 {
    width: 68px;
    height: 44px;
    font-size: 16px;
  }
  .blue {
    background-image: url(./images/blue2.jpg);
    height: 650px;
  }
  .hidden1 {
    display: none;
  }
  .tab {
    background-image: url(./images/tab2.jpg);
    height: 650px;
    display: flex;
    flex-direction: column;
  }
  /* .innerUpGAP {
    gap: 8px;
  } */
  .colorful {
    font-size: 20px;
    top: 422px;
    height: 24px;
    line-height: 24px;
  }
  .hidden2 {
    display: none;
  }
  .grid2 {
    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
    width: 100%;
    column-gap: 12px;
  }
  .poster-mid {
    margin-top: 12px;
    height: 490px;
    display: flex;
  }
  .hidden3 {
    display: none;
  }

  .movie1 {
    background-image: url(./images/tabMovie1.jpg);
  }
  .movie2 {
    background-image: url(./images/tabMovie2.jpg);
  }
  .movie3 {
    background-image: url(./images/tabMovie3.jpg);
  }
  .movie4 {
    background-image: url(./images/tabMovie4.jpg);
  }
  .movie5 {
    background-image: url(./images/tabMovie5.jpg);
  }
  .movie6 {
    background-image: url(./images/tabMovie6.jpg);
  }
  .movie7 {
    background-image: url(./images/tabMovie7.jpg);
  }
  .movie8 {
    background-image: url(./images/tabMovie8.jpg);
  }
  .movie9 {
    display: flex;
    background-image: url(./images/tabMovie9.jpg);
  }
  .movie10 {
    display: flex;
    background-image: url(./images/tabMovie10.jpg);
  }
  /* .scroll {
    height: 406px;
  } */
  .scrollmenu > div {
    width: 689px;
    height: 368px;
  }
  .tinyTab {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #000000;
  opacity: 42%;
  display: flex;
  position: relative;
}
.tinyTab:hover {
  background-color: #000000;
  opacity: 60%;
}
  .drama{
    display: flex;
    gap: 16px;
    top: 305px;
    left: 30px;
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .drama-text{
    width: 401px;
    height: fit-content;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color:#FFFFFF ;
  }
  .span{
    font-weight: 700;
  }
  .box{
    display: none;
  }
  .textla{
    display: none;
  }
  .boxin{
    display: none;
  }
.wanimation{
  width: fit-content;
  height: fit-content;
}
  .sizeLast{
    height: 236px;
    width: 417px;
  }
  .fitness1{
    background-image: url(./images/fitness1.jpg);
  }
  .leftText{
    width: 224px;
height: 18px;
top: 198px;
position: relative;
left: 15px;
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: #FFFFFF;
  }
  .rB{
    background-color: #1B2632;
    display: flex;
    flex-direction: column;
  }
  .zurag{
    width: 196px;
height: 196px;
position: relative;
top: 20px;
left: 15px;
border-radius: 8px;
  }
  .rbNow{
    position: relative;
bottom: 86px;
left: 226px;
font-size: 14px;
font-weight: 600;
line-height: 18px;
color: #FFFFFF
  }
  .logo{
  position: relative;
  top: 184px;
  left: 320px;
  height: 14px;
  width: fit-content;
}
.logo2{
  top: -14px;
}
.nba{
  background-image: url(./images/sport.jpg);
}
.fitness2{
  background-image: url(./images/fitness.jpg);
}
.play{
  left: 94%;
}
} 
@media screen and (min-width: 1000px) {
  .header {
    height: 44px;
    gap: 24px;
    justify-content: center;
  }
  .apple1 {
    width: 13px;
    height: 16px;
    top: 12px;
    left: 0.5px;
  }
  .apple2 {
    width: 14px;
    height: 44px;
    left: 8px;
  }
  .right {
    gap: 24px;
  }
  .bagSearch {
    width: 30px;
    height: 44px;
  }
  .options {
    display: flex;
    height: 44px;
    font-size: 12px;
    line-height: 60px;
    letter-spacing: -0.28px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .line3 {
    display: none;
  }
  .pro1 {
    background-image: url(./images/pro3.jpg);
    height: 692px;
  }
  .text-p {
    top: 55px;
    height: 172px;
    gap: 4px;
  }
  .innerUp1 {
    gap: 16px;
  }
  .inner16-1 {
    height: 60px;
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: 0.28px;
  }
  .innerHello-1 {
    height: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  .innerDown1 {
    height: 44px;
    position: relative;
    top: 7px;
  }
  .full1 {
    width: 123px;
    height: 44px;
    font-size: 16px;
  }
  .border1 {
    width: 68px;
    height: 44px;
  }
  .blue {
    background-image: url(./images/blue3.jpg);
    height: 692px;
  }
  .hidden1 {
    background-image: url(./images/gift.jpg);
    width: 100%;
    display: flex;
    height: 692px;
    background-position: center;
    margin-top: 12px;
  }
  .magic {
    width: 100%;
    height: 164px;
    top: 446px;
    gap: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gift {
    width: 100%;
    height: 104px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .deed {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #000000;
  }
  .dund {
    width: 100%;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
  .hiddenfull {
    width: 114px;
    height: 44px;
    gap: 16px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071e3;
    color: #ffffff;
    font-size: 16px;
  }
  .hiddenfull:hover {
    background-color: #1385f8;
  }
  .hidden2 {
    background-image: url(./images/webPod.jpg);
    height: 580px;
    display: flex;
    justify-content: center;
    background-position: center;
    margin-top: 12px;
  }
  .hidTEXT {
    height: 115px;
    text-align: center;
    position: relative;
    top: 401px;
    color: #f5f5f7;
  }
  .upAIR {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  .fullStill {
    width: 115px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
  .borderStill {
    width: 68px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
  .webBUTTON {
    width: 199px;
    height: 40px;
    gap: 16px;
    position: relative;
    top: 5px;
  }
  .grid1 {
    display: grid;
    grid-template-columns: auto auto;
    height: 580px;
    gap: 12px;
  }
  .tab {
    height: 580px;
    background-image: url(./images/tab3.jpg);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .colorful {
    top: 390px;
    font-size: 18px;
  }
  .innerPod-1 {
    font-size: 18px;
  }
  .airH {
    top: 58px;
  }
  .innerUpGAP {
    gap: 8px;
  }
  .gap4px {
    gap: 4px;
  }
  .business {
    display: none;
  }
  .deals {
    display: none;
  }
  .pod {
    display: none;
  }
  .trade {
    display: flex;
    background-size: cover;
  }
  .watch {
    background-image: url(./images/watchWeb.jpg);
  }
  .macAir {
    background-image: url(./images/webAir.jpg);
  }
  .trade {
    background-image: url(./images/webTrade.jpg);
    margin-top: 0px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12px;
    margin-top: 12px;
  }
  .poster-mid {
    height: 580px;
  }
  .fullGet1 {
    width: 167px;
    height: 40px;
  }
  .hidden3 {
    background-image: url(./images/card.jpg);
    height: 580px;
    display: flex;
    justify-content: center;
    background-position: center;
  }
  .apply {
    width: 112px;
    height: 40px;
  }
  .lastPosterMid {
    width: 250px;
  }
  .box{
    display: none;
  }
  .textla{
    display: none;
  }
  .boxin{
    display: none;
  }
  
  .play{
    left: 97%;
  }
}
